<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
        Tab One
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Hello World</h3>
  <h4>This is myApp</h4>
  <div>
    <h4>my Fav</h4>
    <ul>
      <li> Movie : {{ myFav.movie }} </li>
      <li> Music : {{ myFav.music }} </li>
      <li> Sport : {{ myFav.sport }} </li>
    </ul>
</div>

<ion-card>
  <ion-card-header color="primary"> My Fav Fruits </ion-card-header>
  <ion-card-content>
    <ion-row *ngFor="let fruit of myFavFruit">
      <ion-col> {{ fruit.id }} </ion-col>
      <ion-col> {{ fruit.name }} </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<li>Allright Reserved by <b> {{ myEmail }} </b></li>
</ion-content>
